{
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "semi": false,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "trailingComma": "all"
}
